In [2]:
import os
import sys

In [15]:
path = r'C:\Suraj\projects\test\01-sagemaker_feature_store.ipynb'
print(os.path.dirname(path))

C:\Suraj\projects\test

In [17]:
os.path.dirname(os.path.realpath(path)) + "/../../"

'C:\\Suraj\\projects\\test/../../'

In [19]:
parent_dir = os.path.dirname(os.path.realpath(path))
two_levels_up = os.path.join(parent_dir, '..', '..')
print(parent_dir)
print(two_levels_up)

C:\Suraj\projects\test
C:\Suraj\projects\test\..\..

In [12]:
os.path.join(os.path.dirname(path), 'test_file.txt')

'C:\\Suraj\\projects\\test\\test_file.txt'

In [13]:
os.path.split(path)

('C:\\Suraj\\projects\\test', '01-sagemaker_feature_store.ipynb')

In [14]:
os.path.expanduser("~")

'C:\\Users\\pis05408.PINNACLE'

In [ ]:
from pdf2image import convert_from_path

# Defing the file path
file_path = r'data.head(20).head(20).head(20)\sample.pdf'

# Function to convert pdf to image
def pdf_to_images(pdf_path):
    return convert_from_path(pdf_path)

# Calling the function to convert PDF to image
images = pdf_to_images(file_path)

In [5]:
import configparser

# Create a ConfigParser object
config = configparser.ConfigParser()

# Read the configuration from the INI file
config.read('config.ini')

['config.ini']

In [8]:
eval(config['plugin']['plugin_list'])

['c9f233c6-8522-49a3-a305-68f572f22742',
 'a7f0448d-f858-4785-b3a9-68b784b917e6',
 '1c7d17cf-7d70-444e-8808-d49bd8e69f44',
 'ea2265b1-f7fd-46e8-815a-65bdf1a052b3',
 'b42f6c31-84c7-4ce9-9672-2b96548ae3f5',
 'a350a3f1-ee94-4770-ac69-b0153d771157',
 'a1a109ae-696b-497b-9269-263ce7505d06']

#### Reading latest file using timestamp from a shared drive

In [24]:
import os
import glob
# import openpyxl
import pandas as pd

In [22]:
# Define the directory where your files are located
directory = r'C:\Users\pis05408.PINNACLE\Desktop\Suraj\RnD\datadump'

# Define the pattern to match Excel files with epoch time suffix (e.g., '_<epoch_time>_latest')
pattern = 'sf_object_appflow_contact_*_latest.xlsx'

# Get a list of Excel files that match the pattern in the directory
excel_files = glob.glob(os.path.join(directory, pattern))

In [26]:
# Check if there are any matching Excel files
if not excel_files:
    print("No matching Excel files found in the directory.")
else:
    # Extract and sort the Excel files based on their epoch time suffixes
    sorted_excel_files = sorted(excel_files, key=lambda x: int(x.split('_')[-2]), reverse=True)
    
    if sorted_excel_files:
        # Get the latest Excel file (first in the sorted list)
        latest_excel_file = sorted_excel_files[0]
        
        # Read the Excel file into a DataFrame using pandas
        df = pd.read_excel(latest_excel_file)
        
        # # Now, you can work with the DataFrame 'df' as needed
        # print("DataFrame created from the latest Excel file:")
        # print(df)
        
        # Print the latest Excel file's name
        print("Latest Excel file:", latest_excel_file)
    else:
        print("No Excel files with valid epoch time suffix found in the directory.")

Latest Excel file: C:\Users\pis05408.PINNACLE\Desktop\Suraj\RnD\datadump\sf_object_appflow_contact_1689775460_latest.xlsx

In [27]:
df.head()

,id,isdeleted,masterrecordid,accountid,lastname,firstname,salutation,name,otherstreet,othercity,...,rcsfl__sendsms__c,call_response__c,dialpad__powerdialer_assigned_list__c,dialpad__powerdialer_dialed_list__c,dialpad__powerdialer_last_dialed_via__c,dialpad__totalnumberoftimesdialed__c,status_for_bim_sumit_2023__c,tracking_1__c,dialpad__iscreatedfromdialpad__c,dialpad__timezone__c
0,0032T00002q7kNHQAY,False,NaN,0012T00001uTUJUQA4,Tng,Bida,NaN,Bida Tng,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,0032T00002kmap9QAA,False,NaN,0012T00001uTUJUQA4,Chong,Alex,NaN,Alex Chong,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,0032T00002knZ7vQAE,False,NaN,0012T00001uTUJUQA4,Yong,Chong Tse,NaN,Chong Tse Yong,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,00334000022II0ZAAW,False,NaN,0013400001SzSQIAA3,Jackson,Julie,Ms.,Julie Jackson,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,0032T00002gzgTUQAY,False,NaN,0012T00001uQHTCQA4,Erwin,William,Mr.,William Erwin,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [60]:
import pandas as pd
import json
import numpy as np

In [6]:
file_path = r'C:\Users\pis05408.PINNACLE\Downloads\-103555222-2023-11-29T18_35_37'

In [95]:
json_objects = []

with open(file_path, 'r') as file:
    for line in file:
        try:
            # Parse each line as a JSON object
            json_object = json.loads(line)
            json_objects.append(json_object)
        except json.JSONDecodeError:
            # If a line is not a valid JSON object, ignore it
            continue

In [96]:
data = pd.json_normalize(json_objects)
data.head(2)

,Id,Line,SyncToken,DocNumber,TxnDate,PrintStatus,LinkedTxn,DueDate,EmailStatus,ExchangeRate,...,ShipAddr.PostalCode,BillAddr.City,BillAddr.Country,BillAddr.CountrySubDivisionCode,BillAddr.PostalCode,BillAddr.Lat,BillAddr.Long,ShipAddr.Line5,BillAddr.Line5,CustomerMemo.value
0,48962,"[{'Amount': 150.0, 'DetailType': 'SubTotalLine...",3,PI/2019/34468,2019-12-10,NotSet,"[{'TxnId': '48902', 'TxnType': 'StatementCharg...",2019-12-10,EmailSent,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,49237,"[{'Amount': 65.0, 'DetailType': 'SubTotalLineD...",1,PI/2019/34545,2019-12-20,NotSet,"[{'TxnId': '49223', 'TxnType': 'StatementCharg...",2019-12-20,EmailSent,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
temp = data.head(10).copy()

In [122]:
# len(temp['Line'][0])

In [123]:
dict_col_list = ['Line', 'LinkedTxn', 'CustomField']

for col in dict_col_list:
    for i in np.arange(len(temp[col][0])):
        temp_list = temp[col][0][i].keys()
        for key in temp_list:
            temp[col +'_'+ key + '_' + str(i+1)] = temp[col].apply(lambda x: x[0][key])

In [111]:
temp.columns

Index(['Id', 'Line', 'SyncToken', 'DocNumber', 'TxnDate', 'PrintStatus',
       'LinkedTxn', 'DueDate', 'EmailStatus', 'ExchangeRate', 'CustomField',
       'ApplyTaxAfterDiscount', 'TotalAmt', 'Balance', 'CustomerRef.value',
       'CustomerRef.name', 'CurrencyRef.value', 'CurrencyRef.name',
       'BillEmail.Address', 'SalesTermRef.value', 'SalesTermRef.name',
       'MetaData.CreateTime', 'MetaData.LastModifiedByRef.value',
       'MetaData.LastUpdatedTime', 'TxnTaxDetail.TotalTax', 'ShipAddr.Id',
       'ShipAddr.Line1', 'ShipAddr.Line2', 'ShipAddr.Line3',
       'DepartmentRef.value', 'DepartmentRef.name', 'BillAddr.Id',
       'BillAddr.Line1', 'BillAddr.Line2', 'BillAddr.Line3', 'ShipFromAddr.Id',
       'ShipFromAddr.Line1', 'ShipAddr.Line4', 'BillAddr.Line4',
       'TxnTaxDetail.TxnTaxCodeRef.value', 'TxnTaxDetail.TxnTaxCodeRef.name',
       'ShipAddr.City', 'ShipAddr.Country', 'ShipAddr.CountrySubDivisionCode',
       'ShipAddr.PostalCode', 'BillAddr.City', 'BillAddr.Country',
       'BillAddr.CountrySubDivisionCode', 'BillAddr.PostalCode',
       'BillAddr.Lat', 'BillAddr.Long', 'ShipAddr.Line5', 'BillAddr.Line5',
       'CustomerMemo.value', 'Line_Amount_1', 'Line_DetailType_1',
       'Line_SubTotalLineDetail_1', 'LinkedTxn_TxnId_1', 'LinkedTxn_TxnType_1',
       'LinkedTxn_TxnId_2', 'LinkedTxn_TxnType_2',
       'CustomField_DefinitionId_1', 'CustomField_Name_1',
       'CustomField_Type_1', 'CustomField_StringValue_1',
       'CustomField_DefinitionId_2', 'CustomField_Name_2',
       'CustomField_Type_2', 'CustomField_StringValue_2',
       'CustomField_DefinitionId_3', 'CustomField_Name_3',
       'CustomField_Type_3', 'CustomField_StringValue_3'],
      dtype='object')

In [91]:
temp.head(2)

,Id,Line,SyncToken,DocNumber,TxnDate,PrintStatus,LinkedTxn,DueDate,EmailStatus,ExchangeRate,...,CustomField_Type_1,CustomField_StringValue_1,CustomField_DefinitionId_2,CustomField_Name_2,CustomField_Type_2,CustomField_StringValue_2,CustomField_DefinitionId_3,CustomField_Name_3,CustomField_Type_3,CustomField_StringValue_3
0,48962,"[{'Amount': 150.0, 'DetailType': 'SubTotalLine...",3,PI/2019/34468,2019-12-10,NotSet,"[{'TxnId': '48902', 'TxnType': 'StatementCharg...",2019-12-10,EmailSent,1.0,...,StringType,Michael McFadyen,1,Order By,StringType,Michael McFadyen,1,Order By,StringType,Michael McFadyen
1,49237,"[{'Amount': 65.0, 'DetailType': 'SubTotalLineD...",1,PI/2019/34545,2019-12-20,NotSet,"[{'TxnId': '49223', 'TxnType': 'StatementCharg...",2019-12-20,EmailSent,1.0,...,StringType,Andre Bobbitt,1,Order By,StringType,Andre Bobbitt,1,Order By,StringType,Andre Bobbitt

In [88]:
for i in np.arange(1):
    print(i)

0

In [107]:
dict_col_list = ['Line', 'LinkedTxn', 'CustomField']
# dict_col_list = ['LinkedTxn']

for col in dict_col_list:
    if len(temp[col][0]) > 1:
        for i in np.arange(len(temp[col][0])):
            temp_list = temp[col][0][i].keys()
            for key in temp_list:
                temp[col +'_'+ key + '_' + str(i+1)] = temp[col].apply(lambda x: x[0][key])
    else :
        temp_list = temp[col][0][0].keys()
        for key in temp_list:
            temp[col+'_'+ key] = temp[col].apply(lambda x: x[0][key])

KeyError: 'SubTotalLineDetail'

In [82]:
temp.columns

Index(['Id', 'Line', 'SyncToken', 'DocNumber', 'TxnDate', 'PrintStatus',
       'LinkedTxn', 'DueDate', 'EmailStatus', 'ExchangeRate', 'CustomField',
       'ApplyTaxAfterDiscount', 'TotalAmt', 'Balance', 'CustomerRef.value',
       'CustomerRef.name', 'CurrencyRef.value', 'CurrencyRef.name',
       'BillEmail.Address', 'SalesTermRef.value', 'SalesTermRef.name',
       'MetaData.CreateTime', 'MetaData.LastModifiedByRef.value',
       'MetaData.LastUpdatedTime', 'TxnTaxDetail.TotalTax', 'ShipAddr.Id',
       'ShipAddr.Line1', 'ShipAddr.Line2', 'ShipAddr.Line3',
       'DepartmentRef.value', 'DepartmentRef.name', 'BillAddr.Id',
       'BillAddr.Line1', 'BillAddr.Line2', 'BillAddr.Line3', 'ShipFromAddr.Id',
       'ShipFromAddr.Line1', 'ShipAddr.Line4', 'BillAddr.Line4',
       'TxnTaxDetail.TxnTaxCodeRef.value', 'TxnTaxDetail.TxnTaxCodeRef.name',
       'ShipAddr.City', 'ShipAddr.Country', 'ShipAddr.CountrySubDivisionCode',
       'ShipAddr.PostalCode', 'BillAddr.City', 'BillAddr.Country',
       'BillAddr.CountrySubDivisionCode', 'BillAddr.PostalCode',
       'BillAddr.Lat', 'BillAddr.Long', 'ShipAddr.Line5', 'BillAddr.Line5',
       'CustomerMemo.value', 'Line_Amount', 'Line_DetailType',
       'Line_SubTotalLineDetail', 'LinkedTxn_TxnId_1', 'LinkedTxn_TxnType_1',
       'LinkedTxn_TxnId_2', 'LinkedTxn_TxnType_2',
       'CustomField_DefinitionId_1', 'CustomField_Name_1',
       'CustomField_Type_1', 'CustomField_StringValue_1',
       'CustomField_DefinitionId_2', 'CustomField_Name_2',
       'CustomField_Type_2', 'CustomField_StringValue_2',
       'CustomField_DefinitionId_3', 'CustomField_Name_3',
       'CustomField_Type_3', 'CustomField_StringValue_3'],
      dtype='object')

In [83]:
temp.head(2)

,Id,Line,SyncToken,DocNumber,TxnDate,PrintStatus,LinkedTxn,DueDate,EmailStatus,ExchangeRate,...,CustomField_Type_1,CustomField_StringValue_1,CustomField_DefinitionId_2,CustomField_Name_2,CustomField_Type_2,CustomField_StringValue_2,CustomField_DefinitionId_3,CustomField_Name_3,CustomField_Type_3,CustomField_StringValue_3
0,48962,"[{'Amount': 150.0, 'DetailType': 'SubTotalLine...",3,PI/2019/34468,2019-12-10,NotSet,"[{'TxnId': '48902', 'TxnType': 'StatementCharg...",2019-12-10,EmailSent,1.0,...,StringType,Michael McFadyen,1,Order By,StringType,Michael McFadyen,1,Order By,StringType,Michael McFadyen
1,49237,"[{'Amount': 65.0, 'DetailType': 'SubTotalLineD...",1,PI/2019/34545,2019-12-20,NotSet,"[{'TxnId': '49223', 'TxnType': 'StatementCharg...",2019-12-20,EmailSent,1.0,...,StringType,Andre Bobbitt,1,Order By,StringType,Andre Bobbitt,1,Order By,StringType,Andre Bobbitt

In [30]:

# data['Line'].apply(lambda x: x[0]['Amount'])