In [2]:
import os
import sys
import pandas as pd

In [15]:
path = r'C:\Suraj\projects\test\01-sagemaker_feature_store.ipynb'
print(os.path.dirname(path))

C:\Suraj\projects\test

In [6]:
path = r'data\Training_Data_Cleaned.csv'

data = pd.read_csv(path)
data.head()

,Topic,Trade,Category,MasterMapping,CategoryMapping,Dept
0,Structure_Module_01 to 06,Structure,Technical,Structure,Technical,ACS
1,Importance of Moment of Inertia,Structure,Technical,Structure,Technical,ACS
2,Project Lessons to Learn,Structure,Technical,Structure,Technical,ACS
3,Families Creation,Structure,Technical,Structure,Technical,ACS
4,Virtual Reality,Structure,Technical,Structure,Technical,ACS

In [7]:
data.to_parquet('data\Training_Data_Cleaned.parquet')

In [8]:
file_parquet = r'data\Training_Data_Cleaned.parquet'
d_data = pd.read_parquet(file_parquet)
d_data.head()

,Topic,Trade,Category,MasterMapping,CategoryMapping,Dept
0,Structure_Module_01 to 06,Structure,Technical,Structure,Technical,ACS
1,Importance of Moment of Inertia,Structure,Technical,Structure,Technical,ACS
2,Project Lessons to Learn,Structure,Technical,Structure,Technical,ACS
3,Families Creation,Structure,Technical,Structure,Technical,ACS
4,Virtual Reality,Structure,Technical,Structure,Technical,ACS

In [17]:
os.path.dirname(os.path.realpath(path)) + "/../../"

'C:\\Suraj\\projects\\test/../../'

In [19]:
parent_dir = os.path.dirname(os.path.realpath(path))
two_levels_up = os.path.join(parent_dir, '..', '..')
print(parent_dir)
print(two_levels_up)

C:\Suraj\projects\test
C:\Suraj\projects\test\..\..

In [12]:
os.path.join(os.path.dirname(path), 'test_file.txt')

'C:\\Suraj\\projects\\test\\test_file.txt'

In [13]:
os.path.split(path)

('C:\\Suraj\\projects\\test', '01-sagemaker_feature_store.ipynb')

In [14]:
os.path.expanduser("~")

'C:\\Users\\pis05408.PINNACLE'

In [ ]:
from pdf2image import convert_from_path

# Defing the file path
file_path = r'data.head(20).head(20).head(20)\sample.pdf'

# Function to convert pdf to image
def pdf_to_images(pdf_path):
    return convert_from_path(pdf_path)

# Calling the function to convert PDF to image
images = pdf_to_images(file_path)

In [5]:
import configparser

# Create a ConfigParser object
config = configparser.ConfigParser()

# Read the configuration from the INI file
config.read('config.ini')

['config.ini']

In [8]:
eval(config['plugin']['plugin_list'])

['c9f233c6-8522-49a3-a305-68f572f22742',
 'a7f0448d-f858-4785-b3a9-68b784b917e6',
 '1c7d17cf-7d70-444e-8808-d49bd8e69f44',
 'ea2265b1-f7fd-46e8-815a-65bdf1a052b3',
 'b42f6c31-84c7-4ce9-9672-2b96548ae3f5',
 'a350a3f1-ee94-4770-ac69-b0153d771157',
 'a1a109ae-696b-497b-9269-263ce7505d06']

#### Reading latest file using timestamp from a shared drive

In [24]:
import os
import glob
# import openpyxl
import pandas as pd

In [22]:
# Define the directory where your files are located
directory = r'C:\Users\pis05408.PINNACLE\Desktop\Suraj\RnD\datadump'

# Define the pattern to match Excel files with epoch time suffix (e.g., '_<epoch_time>_latest')
pattern = 'sf_object_appflow_contact_*_latest.xlsx'

# Get a list of Excel files that match the pattern in the directory
excel_files = glob.glob(os.path.join(directory, pattern))

In [26]:
# Check if there are any matching Excel files
if not excel_files:
    print("No matching Excel files found in the directory.")
else:
    # Extract and sort the Excel files based on their epoch time suffixes
    sorted_excel_files = sorted(excel_files, key=lambda x: int(x.split('_')[-2]), reverse=True)
    
    if sorted_excel_files:
        # Get the latest Excel file (first in the sorted list)
        latest_excel_file = sorted_excel_files[0]
        
        # Read the Excel file into a DataFrame using pandas
        df = pd.read_excel(latest_excel_file)
        
        # # Now, you can work with the DataFrame 'df' as needed
        # print("DataFrame created from the latest Excel file:")
        # print(df)
        
        # Print the latest Excel file's name
        print("Latest Excel file:", latest_excel_file)
    else:
        print("No Excel files with valid epoch time suffix found in the directory.")

Latest Excel file: C:\Users\pis05408.PINNACLE\Desktop\Suraj\RnD\datadump\sf_object_appflow_contact_1689775460_latest.xlsx

In [27]:
df.head()

,id,isdeleted,masterrecordid,accountid,lastname,firstname,salutation,name,otherstreet,othercity,...,rcsfl__sendsms__c,call_response__c,dialpad__powerdialer_assigned_list__c,dialpad__powerdialer_dialed_list__c,dialpad__powerdialer_last_dialed_via__c,dialpad__totalnumberoftimesdialed__c,status_for_bim_sumit_2023__c,tracking_1__c,dialpad__iscreatedfromdialpad__c,dialpad__timezone__c
0,0032T00002q7kNHQAY,False,NaN,0012T00001uTUJUQA4,Tng,Bida,NaN,Bida Tng,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,0032T00002kmap9QAA,False,NaN,0012T00001uTUJUQA4,Chong,Alex,NaN,Alex Chong,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,0032T00002knZ7vQAE,False,NaN,0012T00001uTUJUQA4,Yong,Chong Tse,NaN,Chong Tse Yong,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,00334000022II0ZAAW,False,NaN,0013400001SzSQIAA3,Jackson,Julie,Ms.,Julie Jackson,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,0032T00002gzgTUQAY,False,NaN,0012T00001uQHTCQA4,Erwin,William,Mr.,William Erwin,NaN,NaN,...,"<a href=""javascript:alert(&quot;JavaScript is ...",False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [60]:
import pandas as pd
import json
import numpy as np

In [6]:
file_path = r'C:\Users\pis05408.PINNACLE\Downloads\-103555222-2023-11-29T18_35_37'

In [95]:
json_objects = []

with open(file_path, 'r') as file:
    for line in file:
        try:
            # Parse each line as a JSON object
            json_object = json.loads(line)
            json_objects.append(json_object)
        except json.JSONDecodeError:
            # If a line is not a valid JSON object, ignore it
            continue

In [96]:
data = pd.json_normalize(json_objects)
data.head(2)

,Id,Line,SyncToken,DocNumber,TxnDate,PrintStatus,LinkedTxn,DueDate,EmailStatus,ExchangeRate,...,ShipAddr.PostalCode,BillAddr.City,BillAddr.Country,BillAddr.CountrySubDivisionCode,BillAddr.PostalCode,BillAddr.Lat,BillAddr.Long,ShipAddr.Line5,BillAddr.Line5,CustomerMemo.value
0,48962,"[{'Amount': 150.0, 'DetailType': 'SubTotalLine...",3,PI/2019/34468,2019-12-10,NotSet,"[{'TxnId': '48902', 'TxnType': 'StatementCharg...",2019-12-10,EmailSent,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,49237,"[{'Amount': 65.0, 'DetailType': 'SubTotalLineD...",1,PI/2019/34545,2019-12-20,NotSet,"[{'TxnId': '49223', 'TxnType': 'StatementCharg...",2019-12-20,EmailSent,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
temp = data.head(10).copy()

In [122]:
# len(temp['Line'][0])

In [123]:
dict_col_list = ['Line', 'LinkedTxn', 'CustomField']

for col in dict_col_list:
    for i in np.arange(len(temp[col][0])):
        temp_list = temp[col][0][i].keys()
        for key in temp_list:
            temp[col +'_'+ key + '_' + str(i+1)] = temp[col].apply(lambda x: x[0][key])

In [111]:
temp.columns

Index(['Id', 'Line', 'SyncToken', 'DocNumber', 'TxnDate', 'PrintStatus',
       'LinkedTxn', 'DueDate', 'EmailStatus', 'ExchangeRate', 'CustomField',
       'ApplyTaxAfterDiscount', 'TotalAmt', 'Balance', 'CustomerRef.value',
       'CustomerRef.name', 'CurrencyRef.value', 'CurrencyRef.name',
       'BillEmail.Address', 'SalesTermRef.value', 'SalesTermRef.name',
       'MetaData.CreateTime', 'MetaData.LastModifiedByRef.value',
       'MetaData.LastUpdatedTime', 'TxnTaxDetail.TotalTax', 'ShipAddr.Id',
       'ShipAddr.Line1', 'ShipAddr.Line2', 'ShipAddr.Line3',
       'DepartmentRef.value', 'DepartmentRef.name', 'BillAddr.Id',
       'BillAddr.Line1', 'BillAddr.Line2', 'BillAddr.Line3', 'ShipFromAddr.Id',
       'ShipFromAddr.Line1', 'ShipAddr.Line4', 'BillAddr.Line4',
       'TxnTaxDetail.TxnTaxCodeRef.value', 'TxnTaxDetail.TxnTaxCodeRef.name',
       'ShipAddr.City', 'ShipAddr.Country', 'ShipAddr.CountrySubDivisionCode',
       'ShipAddr.PostalCode', 'BillAddr.City', 'BillAddr.Country',
       'BillAddr.CountrySubDivisionCode', 'BillAddr.PostalCode',
       'BillAddr.Lat', 'BillAddr.Long', 'ShipAddr.Line5', 'BillAddr.Line5',
       'CustomerMemo.value', 'Line_Amount_1', 'Line_DetailType_1',
       'Line_SubTotalLineDetail_1', 'LinkedTxn_TxnId_1', 'LinkedTxn_TxnType_1',
       'LinkedTxn_TxnId_2', 'LinkedTxn_TxnType_2',
       'CustomField_DefinitionId_1', 'CustomField_Name_1',
       'CustomField_Type_1', 'CustomField_StringValue_1',
       'CustomField_DefinitionId_2', 'CustomField_Name_2',
       'CustomField_Type_2', 'CustomField_StringValue_2',
       'CustomField_DefinitionId_3', 'CustomField_Name_3',
       'CustomField_Type_3', 'CustomField_StringValue_3'],
      dtype='object')

In [91]:
temp.head(2)

,Id,Line,SyncToken,DocNumber,TxnDate,PrintStatus,LinkedTxn,DueDate,EmailStatus,ExchangeRate,...,CustomField_Type_1,CustomField_StringValue_1,CustomField_DefinitionId_2,CustomField_Name_2,CustomField_Type_2,CustomField_StringValue_2,CustomField_DefinitionId_3,CustomField_Name_3,CustomField_Type_3,CustomField_StringValue_3
0,48962,"[{'Amount': 150.0, 'DetailType': 'SubTotalLine...",3,PI/2019/34468,2019-12-10,NotSet,"[{'TxnId': '48902', 'TxnType': 'StatementCharg...",2019-12-10,EmailSent,1.0,...,StringType,Michael McFadyen,1,Order By,StringType,Michael McFadyen,1,Order By,StringType,Michael McFadyen
1,49237,"[{'Amount': 65.0, 'DetailType': 'SubTotalLineD...",1,PI/2019/34545,2019-12-20,NotSet,"[{'TxnId': '49223', 'TxnType': 'StatementCharg...",2019-12-20,EmailSent,1.0,...,StringType,Andre Bobbitt,1,Order By,StringType,Andre Bobbitt,1,Order By,StringType,Andre Bobbitt

In [88]:
for i in np.arange(1):
    print(i)

0

In [107]:
dict_col_list = ['Line', 'LinkedTxn', 'CustomField']
# dict_col_list = ['LinkedTxn']

for col in dict_col_list:
    if len(temp[col][0]) > 1:
        for i in np.arange(len(temp[col][0])):
            temp_list = temp[col][0][i].keys()
            for key in temp_list:
                temp[col +'_'+ key + '_' + str(i+1)] = temp[col].apply(lambda x: x[0][key])
    else :
        temp_list = temp[col][0][0].keys()
        for key in temp_list:
            temp[col+'_'+ key] = temp[col].apply(lambda x: x[0][key])

KeyError: 'SubTotalLineDetail'

In [82]:
temp.columns

Index(['Id', 'Line', 'SyncToken', 'DocNumber', 'TxnDate', 'PrintStatus',
       'LinkedTxn', 'DueDate', 'EmailStatus', 'ExchangeRate', 'CustomField',
       'ApplyTaxAfterDiscount', 'TotalAmt', 'Balance', 'CustomerRef.value',
       'CustomerRef.name', 'CurrencyRef.value', 'CurrencyRef.name',
       'BillEmail.Address', 'SalesTermRef.value', 'SalesTermRef.name',
       'MetaData.CreateTime', 'MetaData.LastModifiedByRef.value',
       'MetaData.LastUpdatedTime', 'TxnTaxDetail.TotalTax', 'ShipAddr.Id',
       'ShipAddr.Line1', 'ShipAddr.Line2', 'ShipAddr.Line3',
       'DepartmentRef.value', 'DepartmentRef.name', 'BillAddr.Id',
       'BillAddr.Line1', 'BillAddr.Line2', 'BillAddr.Line3', 'ShipFromAddr.Id',
       'ShipFromAddr.Line1', 'ShipAddr.Line4', 'BillAddr.Line4',
       'TxnTaxDetail.TxnTaxCodeRef.value', 'TxnTaxDetail.TxnTaxCodeRef.name',
       'ShipAddr.City', 'ShipAddr.Country', 'ShipAddr.CountrySubDivisionCode',
       'ShipAddr.PostalCode', 'BillAddr.City', 'BillAddr.Country',
       'BillAddr.CountrySubDivisionCode', 'BillAddr.PostalCode',
       'BillAddr.Lat', 'BillAddr.Long', 'ShipAddr.Line5', 'BillAddr.Line5',
       'CustomerMemo.value', 'Line_Amount', 'Line_DetailType',
       'Line_SubTotalLineDetail', 'LinkedTxn_TxnId_1', 'LinkedTxn_TxnType_1',
       'LinkedTxn_TxnId_2', 'LinkedTxn_TxnType_2',
       'CustomField_DefinitionId_1', 'CustomField_Name_1',
       'CustomField_Type_1', 'CustomField_StringValue_1',
       'CustomField_DefinitionId_2', 'CustomField_Name_2',
       'CustomField_Type_2', 'CustomField_StringValue_2',
       'CustomField_DefinitionId_3', 'CustomField_Name_3',
       'CustomField_Type_3', 'CustomField_StringValue_3'],
      dtype='object')

In [83]:
temp.head(2)

,Id,Line,SyncToken,DocNumber,TxnDate,PrintStatus,LinkedTxn,DueDate,EmailStatus,ExchangeRate,...,CustomField_Type_1,CustomField_StringValue_1,CustomField_DefinitionId_2,CustomField_Name_2,CustomField_Type_2,CustomField_StringValue_2,CustomField_DefinitionId_3,CustomField_Name_3,CustomField_Type_3,CustomField_StringValue_3
0,48962,"[{'Amount': 150.0, 'DetailType': 'SubTotalLine...",3,PI/2019/34468,2019-12-10,NotSet,"[{'TxnId': '48902', 'TxnType': 'StatementCharg...",2019-12-10,EmailSent,1.0,...,StringType,Michael McFadyen,1,Order By,StringType,Michael McFadyen,1,Order By,StringType,Michael McFadyen
1,49237,"[{'Amount': 65.0, 'DetailType': 'SubTotalLineD...",1,PI/2019/34545,2019-12-20,NotSet,"[{'TxnId': '49223', 'TxnType': 'StatementCharg...",2019-12-20,EmailSent,1.0,...,StringType,Andre Bobbitt,1,Order By,StringType,Andre Bobbitt,1,Order By,StringType,Andre Bobbitt

In [30]:

# data['Line'].apply(lambda x: x[0]['Amount'])

In [1]:
import pandas as pd
import re  # For regular expressions

In [2]:
file_path = r'data\Egnyte_File_Report_11_Oct-08_Jan23 10112023 - 01082024.csv'

In [3]:
data = pd.read_csv(file_path, skiprows=1)
data.head()

C:\Users\pis05408.PINNACLE\AppData\Local\Temp\ipykernel_18500\3349218801.py:1: DtypeWarning: Columns (5,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, skiprows=1)

,File/Folder,Target Path/Link,User/Location,User ID,Transaction Type,Action Info,Access,Time,IP Address,File Checksum,Device Name,File Version,Space Used
0,/Shared/DGP-MECH-08/Kilgore Industries/KGI_004...,NaN,Quaddus Booth ( qbooth@kilgoreind.com ),748,Lock File,NaN,Desktop App,10/11/23 0:02:16,216.74.235.178,93b97fb960bfe412bd71458823598142c58338f0548e5c...,NaN,NaN,0
1,/Shared/DGP-MECH-08/Kilgore Industries/KGI_004...,NaN,Quaddus Booth ( qbooth@kilgoreind.com ),748,Lock File,NaN,Desktop App,10/11/23 0:02:26,216.74.235.178,0b5f029877641523e384ca72ccc30fd3602c4357b01983...,NaN,NaN,0
2,/Shared/DGP-MECH-08/Kilgore Industries/KGI_004...,NaN,Quaddus Booth ( qbooth@kilgoreind.com ),748,Lock File,NaN,Desktop App,10/11/23 0:02:36,216.74.235.178,e8ce5614ad0a2e2210d633e6ea105ea4906fe7614c6654...,NaN,NaN,0
3,/Shared/DGP-MECH-08/Kilgore Industries/KGI_004...,NaN,Quaddus Booth ( qbooth@kilgoreind.com ),748,Lock File,NaN,Desktop App,10/11/23 0:02:46,216.74.235.178,f669687d62ca2871258d95275bd50d072377e5808cf7cc...,NaN,NaN,0
4,/Shared/DGP-MECH-08/Kilgore Industries/KGI_004...,NaN,Quaddus Booth ( qbooth@kilgoreind.com ),748,Lock File,NaN,Desktop App,10/11/23 0:06:46,216.74.235.178,93b97fb960bfe412bd71458823598142c58338f0548e5c...,NaN,NaN,0

In [22]:
data.columns

Index(['File/Folder', 'Target Path/Link', 'User/Location', 'User ID',
       'Transaction Type', 'Action Info', 'Access', 'Time', 'IP Address',
       'File Checksum', 'Device Name', 'File Version', 'Space Used'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1691683 entries, 0 to 1691682
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   File/Folder       object
 1   Target Path/Link  object
 2   User/Location     object
 3   User ID           int64
 4   Transaction Type  object
 5   Action Info       object
 6   Access            object
 7   Time              object
 8   IP Address        object
 9   File Checksum     object
 10  Device Name       object
 11  File Version      object
 12  Space Used        int64
dtypes: int64(2), object(11)
memory usage: 167.8+ MB

In [25]:
data.shape

(1691683, 13)

In [5]:
data['Time'] = pd.to_datetime(data['Time']).dt.date

C:\Users\pis05408.PINNACLE\AppData\Local\Temp\ipykernel_18500\3930017959.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Time'] = pd.to_datetime(data['Time']).dt.date

In [6]:
data['Time'] = pd.to_datetime(data['Time'])

In [7]:
data.tail()

,File/Folder,Target Path/Link,User/Location,User ID,Transaction Type,Action Info,Access,Time,IP Address,File Checksum,Device Name,File Version,Space Used
1691678,/Shared/DGP-STRC-01/PCC/PCC_0007_AllPecSt24/FR...,https://pinnaclecad.egnyte.com/fl/EbelcDLHNw,Ranjan Kundu ( rkundu@pinnacleinfotech.com ),920,Create Download Link,https://pinnaclecad.egnyte.com/fl/EbelcDLHNw,Web UI,2024-01-08,111.93.172.5,NaN,NaN,NaN,0
1691679,/Shared/Kol-001/For Lipi Jain/Architecture all...,https://pinnaclecad.egnyte.com/fl/CMful9AK8k,"Anonymous access from Mohali, Punjab, India (...",10,Preview via Link,NaN,Link,2024-01-08,182.75.105.65,e4015811f05b045da383cc18bd36b8593b34eba8669085...,NaN,NaN,34978461
1691680,/Private/priyankad/BCA Braddell Campus/BC_DSP_...,https://pinnaclecad.egnyte.com/fl/PVC83zAo0f,"Anonymous access from Kolkata, West Bengal, In...",2242,Download via Link,NaN,Link,2024-01-08,111.93.172.5,NaN,NaN,NaN,3234258476
1691681,/Private/priyankad/BCA Braddell Campus/BC_DSP_...,https://pinnaclecad.egnyte.com/fl/PVC83zAo0f,"Anonymous access from Kolkata, West Bengal, In...",2242,Download via Link,NaN,Link,2024-01-08,111.93.172.5,NaN,NaN,NaN,4051946416
1691682,/Private/mshilp/ACS-008/Avenue Mall/Reference ...,NaN,Nisar Khan ( nkhan@pinnaclecad.com ),34,Preview,NaN,Web UI,2024-01-08,182.75.105.65,b46ea840e52dc5f3d057987e4625188214f2f4dac4623b...,NaN,30fc5d81-82ad-4c0c-9173-245410f97a10,539479

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1691683 entries, 0 to 1691682
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   File/Folder       object
 1   Target Path/Link  object
 2   User/Location     object
 3   User ID           int64
 4   Transaction Type  object
 5   Action Info       object
 6   Access            object
 7   Time              datetime64[ns]
 8   IP Address        object
 9   File Checksum     object
 10  Device Name       object
 11  File Version      object
 12  Space Used        int64
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 167.8+ MB

In [90]:
max(data['Time'])

Timestamp('2024-01-08 00:00:00')

In [91]:
min(data['Time'])

Timestamp('2023-10-11 00:00:00')

In [9]:
def extract_email(text):
  try:
    start = text.find("(") + 1
    end = text.find(")")
    return text[start:end].strip()
  except:
    return "Null"

In [10]:
data['Name'] = data['User/Location'].apply(extract_email)

In [12]:
data.columns

Index(['File/Folder', 'Target Path/Link', 'User/Location', 'User ID',
       'Transaction Type', 'Action Info', 'Access', 'Time', 'IP Address',
       'File Checksum', 'Device Name', 'File Version', 'Space Used', 'Name'],
      dtype='object')

In [13]:
data.tail()

,File/Folder,Target Path/Link,User/Location,User ID,Transaction Type,Action Info,Access,Time,IP Address,File Checksum,Device Name,File Version,Space Used,Name
1691678,/Shared/DGP-STRC-01/PCC/PCC_0007_AllPecSt24/FR...,https://pinnaclecad.egnyte.com/fl/EbelcDLHNw,Ranjan Kundu ( rkundu@pinnacleinfotech.com ),920,Create Download Link,https://pinnaclecad.egnyte.com/fl/EbelcDLHNw,Web UI,2024-01-08,111.93.172.5,NaN,NaN,NaN,0,rkundu@pinnacleinfotech.com
1691679,/Shared/Kol-001/For Lipi Jain/Architecture all...,https://pinnaclecad.egnyte.com/fl/CMful9AK8k,"Anonymous access from Mohali, Punjab, India (...",10,Preview via Link,NaN,Link,2024-01-08,182.75.105.65,e4015811f05b045da383cc18bd36b8593b34eba8669085...,NaN,NaN,34978461,via link
1691680,/Private/priyankad/BCA Braddell Campus/BC_DSP_...,https://pinnaclecad.egnyte.com/fl/PVC83zAo0f,"Anonymous access from Kolkata, West Bengal, In...",2242,Download via Link,NaN,Link,2024-01-08,111.93.172.5,NaN,NaN,NaN,3234258476,via link
1691681,/Private/priyankad/BCA Braddell Campus/BC_DSP_...,https://pinnaclecad.egnyte.com/fl/PVC83zAo0f,"Anonymous access from Kolkata, West Bengal, In...",2242,Download via Link,NaN,Link,2024-01-08,111.93.172.5,NaN,NaN,NaN,4051946416,via link
1691682,/Private/mshilp/ACS-008/Avenue Mall/Reference ...,NaN,Nisar Khan ( nkhan@pinnaclecad.com ),34,Preview,NaN,Web UI,2024-01-08,182.75.105.65,b46ea840e52dc5f3d057987e4625188214f2f4dac4623b...,NaN,30fc5d81-82ad-4c0c-9173-245410f97a10,539479,nkhan@pinnaclecad.com

In [14]:
file_path2 = r'data\Access,_Space_Used,__1704710577997.csv'

In [15]:
df = pd.read_csv(file_path2)
print(df.shape)

(580394, 14)

C:\Users\pis05408.PINNACLE\AppData\Local\Temp\ipykernel_18500\2594015722.py:1: DtypeWarning: Columns (2,3,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path2)

In [16]:
df.head()

,Access,Space Used,Action Info,Device Name,File Checksum,File Version,File/Folder,IP Address,Name,Target Path/Link,Time,Transaction Type,User ID,User/Location
0,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/NSM_0013,115.244.221.174,reymond@pinnacleinfotech.com,/Shared/MDU-RBR-001/NSM_0013_ The Avenues Mall,2023-11-20 00:00:00,Move Folder,741,A X REYMOND ( reymond@pinnacleinfotech.com )
1,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/NSM_0013/New folder,115.244.221.174,reymond@pinnacleinfotech.com,/Shared/MDU-RBR-001/NSM_0013/REBAR CHANGE ORDER,2023-11-20 00:00:00,Move Folder,741,A X REYMOND ( reymond@pinnacleinfotech.com )
2,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/NSM_0013/New folder,115.244.221.174,reymond@pinnacleinfotech.com,NaN,2023-11-20 00:00:00,Create Folder,741,A X REYMOND ( reymond@pinnacleinfotech.com )
3,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/NSM_0013/REBAR CHANGE ORDER,115.244.221.174,reymond@pinnacleinfotech.com,/Shared/MDU-RBR-001/NSM_0013_ The Avenues Mall...,2023-11-20 00:00:00,Move Folder - Parent,741,A X REYMOND ( reymond@pinnacleinfotech.com )
4,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/New folder,115.244.221.174,reymond@pinnacleinfotech.com,/Shared/MDU-RBR-001/NSM_0013,2023-11-20 00:00:00,Move Folder,741,A X REYMOND ( reymond@pinnacleinfotech.com )

In [76]:
# df.columns

Index(['Access', 'Space Used', 'Action Info', 'Device Name', 'File Checksum',
       'File Version', 'File/Folder', 'IP Address', 'Name', 'Target Path/Link',
       'Time', 'Transaction Type', 'User ID', 'User/Location'],
      dtype='object')

In [77]:
# data.columns

Index(['File/Folder', 'Target Path/Link', 'User/Location', 'User ID',
       'Transaction Type', 'Action Info', 'Access', 'Time', 'IP Address',
       'File Checksum', 'Device Name', 'File Version', 'Space Used', 'Name'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580394 entries, 0 to 580393
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Access            580394 non-null  object
 1   Space Used        580394 non-null  int64
 2   Action Info       12208 non-null   object
 3   Device Name       270 non-null     object
 4   File Checksum     429304 non-null  object
 5   File Version      403787 non-null  object
 6   File/Folder       580394 non-null  object
 7   IP Address        409200 non-null  object
 8   Name              376401 non-null  object
 9   Target Path/Link  194228 non-null  object
 10  Time              580394 non-null  object
 11  Transaction Type  580394 non-null  object
 12  User ID           580394 non-null  int64
 13  User/Location     580394 non-null  object
dtypes: int64(2), object(12)
memory usage: 62.0+ MB

In [18]:
df['Time'] = pd.to_datetime(df['Time']).dt.date

In [19]:
df['Time'] = pd.to_datetime(df['Time'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580394 entries, 0 to 580393
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Access            580394 non-null  object
 1   Space Used        580394 non-null  int64
 2   Action Info       12208 non-null   object
 3   Device Name       270 non-null     object
 4   File Checksum     429304 non-null  object
 5   File Version      403787 non-null  object
 6   File/Folder       580394 non-null  object
 7   IP Address        409200 non-null  object
 8   Name              376401 non-null  object
 9   Target Path/Link  194228 non-null  object
 10  Time              580394 non-null  datetime64[ns]
 11  Transaction Type  580394 non-null  object
 12  User ID           580394 non-null  int64
 13  User/Location     580394 non-null  object
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 62.0+ MB

In [21]:
df.head()

,Access,Space Used,Action Info,Device Name,File Checksum,File Version,File/Folder,IP Address,Name,Target Path/Link,Time,Transaction Type,User ID,User/Location
0,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/NSM_0013,115.244.221.174,reymond@pinnacleinfotech.com,/Shared/MDU-RBR-001/NSM_0013_ The Avenues Mall,2023-11-20,Move Folder,741,A X REYMOND ( reymond@pinnacleinfotech.com )
1,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/NSM_0013/New folder,115.244.221.174,reymond@pinnacleinfotech.com,/Shared/MDU-RBR-001/NSM_0013/REBAR CHANGE ORDER,2023-11-20,Move Folder,741,A X REYMOND ( reymond@pinnacleinfotech.com )
2,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/NSM_0013/New folder,115.244.221.174,reymond@pinnacleinfotech.com,NaN,2023-11-20,Create Folder,741,A X REYMOND ( reymond@pinnacleinfotech.com )
3,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/NSM_0013/REBAR CHANGE ORDER,115.244.221.174,reymond@pinnacleinfotech.com,/Shared/MDU-RBR-001/NSM_0013_ The Avenues Mall...,2023-11-20,Move Folder - Parent,741,A X REYMOND ( reymond@pinnacleinfotech.com )
4,Storage Sync,0,NaN,NaN,NaN,NaN,/Shared/MDU-RBR-001/New folder,115.244.221.174,reymond@pinnacleinfotech.com,/Shared/MDU-RBR-001/NSM_0013,2023-11-20,Move Folder,741,A X REYMOND ( reymond@pinnacleinfotech.com )

In [22]:
print(df.shape)
temp = df[df['Time'] < pd.to_datetime('2023-10-11')]
print(temp.shape)

(580394, 14)
(247188, 14)

In [24]:
max(temp['Time'])

Timestamp('2023-10-10 00:00:00')

In [25]:
min(temp['Time'])

Timestamp('2023-09-01 00:00:00')

In [26]:
test_1 = pd.concat([data,temp], axis=0)

In [27]:
test_1.shape

(1938871, 14)

In [28]:
test_1.tail()

,File/Folder,Target Path/Link,User/Location,User ID,Transaction Type,Action Info,Access,Time,IP Address,File Checksum,Device Name,File Version,Space Used,Name
580387,/Shared/JPR-MECH-11/AFH_0001-Sparrow Intel_Sho...,/Shared/JPR-MECH-11/AFH_0001-Sparrow Intel/Fro...,vivek john ( vjohn@pinnacleinfotech.com ),811,Move - Parent,NaN,Web UI,2023-10-10,182.75.105.65,2-5-52428800-fd5243ac810684636cec4624a9248d3b7...,NaN,f5e4bcf4-d46b-483b-b092-08a36b3fc56d,229949440,vjohn@pinnacleinfotech.com
580388,/Shared/JPR-MECH-11/AFH_0001-Sparrow Intel_Sho...,/Shared/JPR-MECH-11/AFH_0001-Sparrow Intel/Fro...,vivek john ( vjohn@pinnacleinfotech.com ),811,Move - Parent,NaN,Web UI,2023-10-10,182.75.105.65,2-5-52428800-3dfb2a10a8fad8125fa7d7012dcedbfe2...,NaN,45e358a6-7a6c-474a-a8a9-6b62fcad49aa,230612992,vjohn@pinnacleinfotech.com
580389,/Shared/JPR-MECH-11/AFH_0001-Sparrow Intel_Sho...,NaN,vivek john ( vjohn@pinnacleinfotech.com ),811,Upload,NaN,Web UI,2023-09-22,182.75.105.65,2-5-52428800-002244863eba8ae9b2c8c3a123e5e307d...,NaN,94cf84cd-306e-494f-b2d2-0d3f5289a6e7,239415296,vjohn@pinnacleinfotech.com
580390,/Shared/JPR-MECH-11/AFH_0001-Sparrow Intel_Sho...,/Shared/JPR-MECH-11/AFH_0001-Sparrow Intel/Fro...,vivek john ( vjohn@pinnacleinfotech.com ),811,Move - Parent,NaN,Web UI,2023-10-10,182.75.105.65,2-5-52428800-3f26cb270e32db4fbb4c04b058aa6832a...,NaN,15e22343-06e8-4bb0-a24e-4dd0045b3a50,239497216,vjohn@pinnacleinfotech.com
580391,/Shared/JPR-MECH-11/AFH_0001-Sparrow Intel_Sho...,NaN,vivek john ( vjohn@pinnacleinfotech.com ),811,Upload,NaN,Web UI,2023-09-22,182.75.105.65,2-5-52428800-3f26cb270e32db4fbb4c04b058aa6832a...,NaN,15e22343-06e8-4bb0-a24e-4dd0045b3a50,239497216,vjohn@pinnacleinfotech.com

In [ ]:
# test_1.to_csv('data\joined_data.csv')

In [36]:
test_1.iloc[:,:-1].to_csv('data\joined_data.csv',index=False)